In [1]:
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722,139.691667))
print(tokyo)
print(tokyo.population)
print(tokyo[1])

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))
36.933
JP

In [2]:
import collections
queue = collections.deque() # 双端队列
queue.append(1)
queue.append(2)
queue.append(3)  # 从队列的右端加入
queue.popleft()  # 从队列的左端弹出

3